div{
        width: 200px;
        height: 100px;
        background-color: black;
    }
    

.col-10 {
    width:10%
}

.col-25 {
    width:25%
}

.col-50 {
    width:50%
}

.col-100 {
    width:100%
}