html {
    background-color : purple; 
}


h2{
    color : aquamarine ;
    background-color: red ;
}

ul {
     font-size: 55px;
 }

.verde {
    color: green;
}

.azul {
    color: blue; 
}

.destaque {
    font-size: 70px;
}

#lista-produtos {
    background-color: burlywood;
}

div {
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}

span.destaque {
    color: red
}

span.ano {
    color:blue
}