div {
    width:200px;
    height:100px;
    background-color: red;
    margin: 2px ;
}

.left-float {
float: left;
}

.direita {
    float: right;
}

.azul {
    background-color: blue
}


.verde {
    background-color:green
}


.marrom {
    background-color:brown
}


.vermelho {
    background-color: red
}



