div {
    width:200px;
    height:100px;
    margin: 0 ;
}

.left-float {
float: left;
}

.direita {
float: right;
}



.col-10 {
    width: 10%;
}
.col-20 {
    width: 20%;
}
.col-25 {
    width: 25%;
}
.col-50 {
    width: 50%;
}
.col-100 {
    width: 100%;
}

.azul {
    background-color: blue
}


.verde {
    background-color:green
}


.marrom {
    background-color:brown
}


.amarelo {
    background-color: yellow
}


.aguamarinha {
    background-color: aquamarine
}


.preto{
    background-color: black
}


.roxo {
    background-color:rebeccapurple
}


.rosa {
    background-color:palevioletred
}


.laranja {
    background-color:orangered
}


.cinza {
    background-color: gray
}


.cadete {
    background-color:cadetblue
}


.vermelho {
    background-color: red
}
